header{
    border-bottom: 1px solid rgba(241, 245, 246, 1);
    background: rgba(255, 255, 255, 1);

}

.head-fon{
    background: rgba(241, 245, 246, 1);
    padding: 11px 0;
}

.header-cont{
    width: 100%;
    gap: 20px;
}
.language-min{
    position: relative;
}
.language-click{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: rgba(21, 50, 118, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
.language-click:before{
    content: "";
    background-image: url("../img/icons/global-fill.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}
.language-click:after{
    content: url("../img/icons/chevron-down.svg");
    width: 24px;
    height: 24px;
}


.language-drop{
    display: none;
    position: absolute;
    padding: 12px;
    border-radius: 8px;
    background: rgba(241, 245, 246, 1);
    right: 20px;
}

.language-active .language-drop{
    display: block;
}
.language-drop ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.language-drop ul li{
    color: rgba(21, 50, 118, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    transition: 0.3s;
    width: 100%;
    cursor: pointer;
}




.header-flex{
    gap: 40px;
}
.work-time{
    gap: 16px;
}
.header-flex span{
    color: rgba(21, 50, 118, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
.line-hig-head{
    display: flex;
    width: 1px;
    height: 40px;
    background: rgba(21, 50, 118, 0.2);
}
.href-soc{
    gap: 16px;
}
.location-click{
    gap: 12px;
    cursor: pointer;
}
.icon-location{
    margin-right: 4px;
}
.phone-number{
    display: flex;
    align-items: center;
    gap: 12px;
}
.icon-phone{
    margin-right: 4px;
}

.header-main{
    width: 100%;
    padding: 20px 0;
}

.logo{
    max-width: 144px;
    width: 100%;
}
.logo img{
    width: 100%;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 28px;
}
.nav-menu ul li{
    display: flex;
    position: relative;
}
.submenu{
    display: none;
}
.menu-link{
    color: rgba(21, 50, 118, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    transition: 0.3s;
    white-space: nowrap;
    position: relative;
}
.has-submenu .menu-link{
    display: flex;
    gap: 8px;
    padding-right: 30px;
}
.has-submenu .menu-link:after{
    content: "";
    position: absolute;
    top: 4px;
    right: 7px;
    border-top: 2px solid rgba(21, 50, 118, 1);
    border-right: 2px solid rgba(21, 50, 118, 1);
    width: 6px;
    height: 6px;
    transform: rotate(135deg);
    transition: 0.3s;
}



header .btn{
    box-shadow: 1px 5px 5px 0px rgba(41, 69, 80, 0.03);
}







@media (max-width: 1699px){
    .header-flex span {
        font-size: 18px;
    }
    .header-flex {
        gap: 30px;
    }
    .menu-link {
        font-size: 18px;
    }
}


@media (max-width: 1599px){

    .menu-link {
        font-size: 15px;
    }
    .has-submenu .menu-link {
        padding-right: 26px;
    }
    .has-submenu .menu-link:after {
        top: 2px;
        right: 3px;
    }
    .language-click {
        gap: 6px;
        font-size: 15px;
    }
    .language-click:before {
        width: 18px;
        height: 18px;
    }
    .work-time {
        gap: 12px;
    }
    .line-hig-head {
        height: 30px;
    }
    .header-flex span {
        font-size: 15px;
    }
    .icon-phone {
        margin-right: 2px;
        width: 18px;
        height: 18px;
    }
    .href-soc {
        gap: 12px;
    }
    .href-soc i{
        width: 19px;
    }
    .icon-time {
        width: 20px;
    }
    .language-drop ul li {
        font-size: 15px;
    }
    .head-fon {
        padding: 9px 0;
    }
    .header-main {
        padding: 15px 0;
    }
    .logo {
        max-width: 110px;
    }
    .has-submenu .menu-link {
        padding-right: 23px;
    }
    .icon-location {
        margin-right: 0;
        width: 18px;
    }



}