h1,h2,h3,h4{
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    color: rgba(21, 50, 118, 1);
    line-height: 100%;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}
p, span, a, input, ul li, small, textarea{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: rgba(21, 50, 118, 1);
    letter-spacing: -0.04em;
    font-family: 'Inter';

}
button, .btn, .btn-white{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: rgba(21, 50, 118, 1);
    border-radius: 8px;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
}

.btn, .btn-white{
    width: max-content;
    gap: 8px;
    padding: 20px 40px;
}
.btn{
    background: rgba(21, 50, 118, 1);
    color: rgba(255, 255, 255, 1);
}

.btn-white{
    background: rgba(255, 255, 255, 1);
    color: rgba(21, 50, 118, 1);
}




/*=============-global-style-end-==============*/



.live-dream{
    padding: 40px 0;
}

.live-dream-flex{
    gap: 50px;
}
.live-dream-title{
    max-width: 450px;
    width: 100%;
}
.live-dream-title p{
    margin-top: 24px;
    max-width: 361px;
    width: 100%;
}
.live-dream-title .btn{
    margin-top: 32px;
}

.live-dream-cnt{
    max-width: 1144px;
    width: 100%;
    gap: 9px;
    display: flex;
}
.live-residency{
    width: 100%;
    max-width: 711px;
    height: 734px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.live-residency h2{
    max-width: 345px;
    width: 100%;
}

.live-dream-col{
    max-width: 424px;
    width: 100%;
    gap: 8px;
}
.dream-services{
    width: 100%;
    position: relative;
    background: rgba(241, 245, 246, 1);
    height: 364px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
}
.dream-services-name{
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.dream-services-name h2{
    max-width: 194px;
}
.btn-arrow{
    background: rgba(21, 50, 118, 1);
    width: 43px;
    height: 43px;
    padding: 16px;
    position: relative;
    border-radius: 8px;

}
.btn-arrow:after{
    content: "";
    position: absolute;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transition: 0.3s;
    top: 17px;
    left: 15px;
}


.countries-box{
    position: relative;
    width: 100%;
}
.countries-slider{
    width: 100%;
    border-radius: 16px;

}
.countries-photos{
    width: 100%;
    position: relative;
    border-radius: 16px;
    height: 362px;
    padding: 40px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.countries-photos:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(360deg, rgba(42, 55, 83, 0) 0%, rgba(42, 55, 83, 0.4) 100%);
}
.countries-name{
    width: 100%;
    position: relative;
    z-index: 1;
}

.countries-name h2{
    color: #ffffff;
    width: 197px;
}

.countries-name .btn-arrow{
    background: rgba(255, 255, 255, 1);
}
.countries-name .btn-arrow:after{
    border-top: 2px solid rgba(21, 50, 118, 1);
    border-right: 2px solid rgba(21, 50, 118, 1);
}


.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}

.countries-flex{
    gap: 8px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: relative;
    z-index: 11;
    padding: 8px;

}
.swiper-button-next, .swiper-button-prev {
    width: 54px;
    height: 54px;
    transition: 0.3s;
    background: rgba(241, 245, 246, 1);
    border-radius: 8px;
}

.countries-flex .swiper-button-prev, .countries-flex .swiper-button-next{
    margin: 0;
    top: 0;
    transform: unset;
    position: relative;
    right: 0;
    left: 0;
}

.countries-href{
    width: 204px;
    border-radius: 8px;
    background: rgba(241, 245, 246, 1);
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.countries-href span{
    color: rgba(21, 50, 118, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    border-bottom: 1px solid rgba(21, 50, 118, 1);
    transition: 0.3s;

}







.services-main{
    padding-top: 100px;
    width: 100%;
    background: rgba(241, 245, 246, 1);
    padding-bottom: 100px;
}
.services-main:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 629px;
    background: rgba(21, 50, 118, 1);
    z-index: 0;

}

.services-title{
    position: relative;
    z-index: 1;
}
.services-title h2{
    color: #ffffff;
}



.services-cnt{
    background: rgba(255, 255, 255, 1);
    margin-top: 48px;
    box-shadow: 0px 12px 12px 0px rgba(60, 87, 150, 0.05);
    gap: 8px;
    border-radius: 24px;
    padding: 8px;
    display: flex;
    position: relative;
    z-index: 3;

}
.services-btb-mob{
    display: none;
}
.services-menu{
    background: rgba(241, 245, 246, 1);
    border-radius: 16px;
    max-width: 424px;
    width: 100%;
    padding: 8px;
}
.services-mobile-selected{
    display: none;
}
.services-click{
    width: 100%;
    height: 72px;
    gap: 8px;
    border-radius: 8px;
    padding: 20px 14px 20px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.services-click:before{
    content: "";
    background: rgba(255, 255, 255, 1);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    transition: 0.3s;
    opacity: 0;
}
.services-active{
    background: rgba(21, 50, 118, 1);
    color: rgba(255, 255, 255, 1);
    padding-left: 54px;
}
.services-active:before{
    opacity: 1;
}
.services-items{
    max-width: 840px;
    width: 100%;
}

.services-info{
    padding: 40px 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.services-included ul{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.services-included ul li{
    position: relative;
    padding-left: 36px;

}
.services-included ul li:before{
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icons/check.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.countries-work{
    max-width: 424px;
    width: 100%;
}

.countries-work-slider{
    width: 100%;
    border-radius: 16px;
}

.countries-gallery{
    width: 100%;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 772px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    position: relative;
}
.countries-gallery:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 75.92%, rgba(0, 0, 0, 0.2) 100%);
}

.countries-gallery h3{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 1;
    position: relative;
    width: 180px;
}










.reliable-partner{
    margin-top: 100px;
    gap: 40px;
}
.reliable-partner-rel{
    max-width: 856px;
    width: 100%;
    position: relative;
}

.reliable-box {
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 8px;
    display: flex;
    flex-direction: column;
    min-height: 439px;
}
.reliable-box-photo{
    width: 100%;
}
.reliable-box-photo img{
    width: 100%;
    height: 243px;
    border-radius: 4px;
}
.reliable-name{
    padding: 16px;
}
.reliable-text{
    min-height: 80px;
}
.reliable-name h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: rgba(21, 50, 118, 1);
    margin-bottom: 8px;
}

.reliable-flex{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.social-link{
    box-shadow: 1px 5px 5px 0px rgba(41, 69, 80, 0.03);
    border: 2px solid rgba(241, 245, 246, 1);
    background: rgba(255, 255, 255, 1);
    width: 60px;
    height: 60px;
    border-radius: 8px;
    padding: 20px;
}

.reliable-partner h2{
    max-width: 712px;
    width: 100%;
    font-size: 56px;
    line-height: 110%;

}

.reliable-partner-rel .partner-button-prev, .reliable-partner-rel .partner-button-next{

    box-shadow: 1px 5px 5px 0px rgba(41, 69, 80, 0.03);
    border: 2px solid rgba(241, 245, 246, 1);
    background: rgba(255, 255, 255, 1);
    width: 64px;
    height: 64px;
    border-radius: 8px;
    padding: 20px;

}
.reliable-partner-rel .partner-button-prev{
    left: -35px;
}
.reliable-partner-rel .partner-button-next {
    right: -35px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}













.concept-dual{
    margin-top: 100px;
    overflow: hidden;
}

.concept-dual-title{
    gap: 30px;
}
.concept-dual-text{
    max-width: 995px;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
}
.concept-dual-text p{
    max-width: 677px;
    width: 100%;
}
.concept-dual-mobile{
    display: none;
}
.concept-dual-flex{
    margin-top: 56px;
    gap: 8px;
}
.concept-col{
    max-width: 712px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.concept-box{
    width: 100%;
    gap: 32px;
    background: rgba(241, 245, 246, 1);
    border-radius: 16px;
    padding: 16px;
}

.concept-icon{
    background: rgba(255, 255, 255, 1);
    max-width: 140px;
    width: 100%;
    height: 140px;
    border-radius: 4px;
}
.concept-info{
    gap: 24px;
    padding-right: 10px;
}
.concept-photo{
    max-width: 995px;
    width: 100%;
}
.concept-photo img{
    width: 100%;
    border-radius: 16px;
}
.blog-main{
    margin-top: 100px;
    overflow: hidden;
}
.btn-sliver{
    background: rgba(241, 245, 246, 1);
    color: rgba(21, 50, 118, 1);
}
.blog-rel{
    margin-top: 84px;
    position: relative;
    padding-left: calc((100% - 1920px) / 2 + 15px);

}
.blog-btn-mobile{
    display: none;
}
.blog-boxes{
    background: rgba(241, 245, 246, 1);
    width: 100%;
    height: 565px;
    gap: 16px;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-boxes-title{
    padding: 16px;
    gap: 24px;
}
.blog-boxes-title h3{
    font-size: 24px;
    transition: 0.3s;
    max-width: 400px;
    width: 100%;
    line-height: 110%;
}

.blog-boxes img{
    width: 100%;
    border-radius: 4px;
    height: 300px;
    object-fit: cover;
}


.swiper-slide-active .blog-boxes-title h3{
    font-size: 40px;
}


.blog-slider {
    overflow: visible;

}


.blog-rel .swiper-button-next, .blog-rel .swiper-button-prev {
    width: 54px;
    height: 54px;
    transition: 0.3s;
    background: rgba(241, 245, 246, 1);
    border-radius: 8px;
}
.blog-slider .swiper-slide {
    height: auto;
    width: 424px;
    transition: width 0.4s ease;
}

.blog-slider .swiper-slide-active {
    width: 856px;
}









.contact-main{
    margin-top: 160px;
}
.contact-main:before{
    content: "";
    position: absolute;
    top: 248px;
    left: 0;
    width: 100%;
    height: 632px;
    background: rgba(241, 245, 246, 1);

}
.contact-cont{
    border: 2px solid rgba(241, 245, 246, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 11px 7px 0px rgba(41, 69, 80, 0.02);
    border-radius: 24px;
    position: relative;
    z-index: 2;
}
.contact-form{
    max-width: 720px;
    width: 100%;
    padding: 60px;
}
.contact-form p{
    max-width: 390px;
    width: 100%;
    text-align: center;
    margin-top: 24px;
}
.contact-form form{
    width: 100%;
}
.contact-item{
    margin-top: 48px;
    width: 100%;
}
.contact-input{
    width: 100%;
    margin-bottom: 8px;
}
.contact-input label{
    display: flex;
    width: 100%;
}
.contact-input input{
    border: 1px solid rgba(241, 245, 246, 1);
    width: 100%;
    height: 72px;
    border-radius: 4px;
    padding: 24px;
    background: #ffffff;
    transition: 0.3s;
    font-family: 'Inter';

}
.contact-input input::placeholder{
    color: rgba(21, 50, 118, 1);
    font-weight: 500;
    font-family: 'Inter';

}
.contact-item .btn{
    width: 100%;
    height: 72px;
    border-radius: 4px;

}

.checkbox-lab{
    position: relative;
    padding-left: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 24px;
    justify-content: flex-end;
}


.checkbox-lab input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 32px;
    max-width: 32px;
    width: 100%;
    background: rgba(241, 245, 246, 1);
    border-radius: 4px;
}

.checkmark:after {
    content: "";
    display: none;
    position: absolute;
    left: 12px;
    top: 7px;
    width: 6px;
    height: 11px;
    border: solid rgba(21, 50, 118, 1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox-lab input:checked ~ .checkmark:after {
    display: block;
}



.write-messenger{
    margin-top: 49px;
}
.write-messenger p{
    text-align: center;
    width: 178px;
}


.messenger-social{
    margin-top: 24px;
    gap: 8px;
}
.messenger-social a{
    background: rgba(241, 245, 246, 1);
    width: 60px;
    height: 60px;
    border-radius: 4px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.map-box{
    max-width: 1000px;
    width: 100%;
    height: 780px;
    position: relative;
}

.map-box-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(241, 245, 246, 1);
    box-shadow: 1px 5px 5px 0px rgba(41, 69, 80, 0.03);
    max-width: 378px;
    width: 100%;
    border-radius: 4px;
    padding: 24px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.map-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.map-contact p{
    color: rgba(41, 69, 80, 0.4);
}


.map-menu{
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 5px 5px 0px rgba(41, 69, 80, 0.03);
    border: 2px solid rgba(241, 245, 246, 1);
    max-width: 715px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
}
.map-menu ul{
    display: flex;
    gap: 8px;
    align-items: center;
}
.map-menu ul li{
    padding: 16px 32px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    transition: 0.3s;
    cursor: pointer;
}
.map-menu ul li:hover{
    background: rgba(21, 50, 118, 1);
    color: #ffffff;
}
.map-menu-select{
    display: none;
}
.map-menu ul .map-menu-active{
    background: rgba(21, 50, 118, 1);
    color: #ffffff;
}

.maps{
    width: 100%;
    height: 100%;
}
.maps iframe{
    width: 100%;
    height: 100%;
    border-radius: 0 24px 24px 0;
}





footer{
    background: rgba(241, 245, 246, 1);
    padding-top: 100px;
    padding-bottom: 32px;
}

.footer-main{
    gap: 24px;
}

.logo-footer{
    max-width: 195px;
    width: 100%;
}
.logo-footer img{
    width: 100%;
}

.footer-flex{
    gap: 24px;
    max-width: 1242px;
    width: 100%;
}
.footer-number{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-main h4{
    color: rgba(21, 50, 118, 0.2);
    margin-bottom: 24px;
}

.footer-number{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.our-social {
    margin-top: 40px;
}
.our-social span{
    color: rgba(21, 50, 118, 0.2);
}

.our-social .messenger-social a{
    background: rgba(255, 255, 255, 1);

}
.footer-menu-large{
    max-width: 377px;
    width: 100%;
}

.scroll-up{
    max-width: 60px;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.scroll-up .icon-arrow-left {
    transform: rotate(90deg);
}
.site-made{
    width: 100%;
    margin-top: 96px;
    padding-top: 32px;
    border-top: 1px solid rgba(197, 206, 220, 0.3);
}



@media (max-width: 1699px){
    h1 {
        font-size: 70px;
    }
    .btn, .btn-white {
        border-radius: 6px;
        padding: 15px 30px;
        font-size: 18px;
    }
    .services-included ul li {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    .reliable-partner h2 {
        max-width: 574px;
        font-size: 48px;
    }
    .concept-col {
        max-width: 610px;
    }
    h3 {
        font-size: 28px;
    }
    .concept-info {
        gap: 18px;
    }
    .concept-icon {
        max-width: 120px;
        height: 120px;
    }
    .concept-box {
        gap: 24px;
    }
    .blog-slider .swiper-slide-active {
        width: 710px;
    }
    .blog-slider .swiper-slide {
        width: 414px;
    }
    .swiper-slide-active .blog-boxes-title h3 {
        font-size: 36px;
    }
    .concept-dual-text p {
        max-width: 610px;
    }
    .concept-dual-text {
        max-width: 935px;
    }
    .footer-flex {
        max-width: 1100px;
    }

}

@media (max-width: 1599px){

    p, span, a, input, ul li, small, textarea{
        font-size: 15px;

    }
    .container {
        max-width: 1338px;
        width: 100%;
        margin: 0 auto;
        padding: 0 24px;
    }
    h1 {
        font-size: 60px;
    }
    .live-dream-title {
        max-width: 375px;
    }
    p {
        font-size: 14px;
    }
    .live-dream-title p {
        margin-top: 18px;
        max-width: 280px;
    }
    .btn, .btn-white {
        padding: 16px 30px;
        font-size: 14px;
    }
    .live-dream-title .btn {
        margin-top: 24px;
    }
    h2 {
        font-size: 36px;
    }

    .live-residency {
        max-width: 533px;
        height: 551px;
        border-radius: 12px;
    }
    .dream-services-name {
        padding: 30px;
    }
    .live-dream-col {
        max-width: 318px;
        gap: 6px;
    }
    .dream-services {
        height: 272px;
        border-radius: 12px;
    }
    .btn-arrow {
        width: 32px;
        height: 32px;
        border-radius: 6px;
        padding: 12px;
    }
    .btn-arrow:after {
        width: 6px;
        height: 6px;
        top: 12px;
        left: 10px;
    }
    .countries-slider {
        border-radius: 12px;
    }
    .countries-photos {
        border-radius: 12px;
        height: 272px;
        padding: 30px;
    }
    .countries-flex {
        gap: 6px;
        border-radius: 6px;
        padding: 6px;
    }
    .countries-photos:before {
        border-radius: 12px;
    }
    .countries-href {
        width: 153px;
        border-radius: 4px;
        height: 41px;
    }
    .countries-href span {
        font-size: 14px;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 41px;
        height: 41px;
        border-radius: 6px;
    }
    .icon-arrow-left {
        width: 18px;
    }
    .icon-arrow-right {
        width: 18px;
    }
    .live-dream {
        padding: 30px 0;
    }
    .services-main {
        padding-top: 75px;
        padding-bottom: 68px;
    }

    .services-cnt {
        margin-top: 36px;
        gap: 6px;
        border-radius: 18px;
        padding: 6px;
    }
    .services-menu {
        border-radius: 12px;
        max-width: 318px;
        padding: 6px;
    }
    .services-click {
        height: 53px;
        gap: 6px;
        border-radius: 6px;
        padding: 18px 12px 18px 18px;
        font-size: 14px;
    }
    .services-click:before {
        width: 5px;
        height: 5px;
        left: 18px;
    }
    .services-active {
        padding-left: 41px;
    }
    .services-info {
        padding: 30px 30px 20px;
        gap: 24px;
    }
    h3 {
        font-size: 24px;
    }
    .services-items {
        max-width: 630px;
    }
    .services-text {
        gap: 12px;
    }
    .services-included ul {
        margin-top: 12px;
        gap: 6px;
    }
    .services-included ul li {
        font-size: 14px;
        padding-left: 27px;
    }
    .countries-work {
        max-width: 318px;
    }
    .countries-gallery {
        border-radius: 12px;
        height: 579px;
        padding: 30px;
    }
    .services-included ul li:before {
        width: 18px;
        height: 18px;
    }

    .services-included{
        margin-top: 20px;
    }
    .reliable-partner {
        margin-top: 74px;
    }
    .reliable-partner-rel {
        max-width: 642px;
    }
    .reliable-box-photo img {
        height: 182px;
        border-radius: 3px;
    }
    .reliable-name {
        padding: 18px 12px;
    }
    .reliable-name h4 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .social-link {
        border: 1.5px solid rgba(241, 245, 246, 1);
        width: 45px;
        height: 45px;
        border-radius: 6px;
        padding: 15px;
    }
    .social-link i{
        width: 19px;
    }
    .reliable-box {
        border-radius: 12px;
        padding: 6px;
        min-height: 344px;
    }

    .reliable-partner-rel .partner-button-prev, .reliable-partner-rel .partner-button-next {
        border: 1.5px solid rgba(241, 245, 246, 1);
        width: 48px;
        height: 48px;
        border-radius: 6px;
        padding: 14px;
    }
    .reliable-partner-rel .partner-button-prev{
        left: -23px;
    }
    .reliable-partner-rel .partner-button-next {
        right: -23px;
    }
    .reliable-partner h2 {
        max-width: 504px;
        font-size: 42px;
    }
    .concept-dual {
        margin-top: 80px;
    }
    .concept-dual-text p {
        max-width: 508px;
    }
    .concept-dual-text {
        max-width: 747px;
    }
    .concept-dual-flex {
        margin-top: 45px;
        gap: 6px;
    }
    .concept-col {
        max-width: 534px;
        gap: 6px;
    }
    .concept-box {
        border-radius: 12px;
        padding: 12px;
    }
    .concept-icon {
        max-width: 105px;
        height: 105px;
        padding: 25px;
    }
    .concept-photo img {
        border-radius: 12px;
    }

    .blog-main {
        margin-top: 80px;
    }
    .blog-rel {
        margin-top: 64px;
    }
    .blog-boxes {
        height: 424px;
        gap: 12px;
        border-radius: 12px;
        padding: 12px;
    }
    .blog-slider .swiper-slide {
        width: 318px;
    }
    .blog-boxes-title {
        padding: 12px;
        gap: 14px;
    }
    .blog-boxes-title span {
        font-size: 14px;
    }
    .swiper-slide-active .blog-boxes-title h3 {
        font-size: 30px;
    }

    .blog-boxes-title h3 {
        font-size: 18px;

    }
    .blog-boxes img {
        border-radius: 3px;
        height: 225px;
    }
    .blog-slider .swiper-slide-active {
        width: 636px;
    }
    .blog-rel .swiper-button-next, .blog-rel .swiper-button-prev {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }
    .contact-main {
        margin-top: 150px;
    }
    .contact-form {
        max-width: 540px;
        padding: 45px;
    }
    .contact-form p {
        max-width: 293px;
        margin-top: 18px;
        font-size: 15px;
    }
    .messenger-social a i {
        width: 20px;
    }
    .contact-item {
        margin-top: 36px;
    }
    .contact-input input {
        height: 54px;
        padding: 18px;
        font-size: 15px;
    }
    .contact-item .btn {
        height: 54px;
    }
    .checkbox-lab small {
        font-size: 15px;
    }
    .checkbox-lab {
        margin-top: 18px;
        gap: 18px;
    }

    .checkmark {
        height: 24px;
        max-width: 24px;
        border-radius: 3px;
    }
    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 4px;
        height: 8px;
        border: solid rgba(21, 50, 118, 1);
        border-width: 0 2px 2px 0;
    }


    .write-messenger {
        margin-top: 42px;
    }
    .write-messenger p {
        margin: 0;
        font-size: 15px;
    }
    .messenger-social {
        margin-top: 18px;
        gap: 6px;
    }
    .messenger-social a {
        width: 45px;
        height: 45px;
        border-radius: 3px;
    }
    .messenger-social a i{
        width: 18px;
    }
    .map-box {
        max-width: 750px;
        height: 585px;
    }
    .map-menu {
        border: 1.5px solid rgba(241, 245, 246, 1);
        max-width: 537px;
        border-radius: 6px;
        padding: 6px;
        top: 30px;
        left: 30px;
    }
    .map-menu ul {
        gap: 6px;
    }
    .map-menu ul li {
        padding: 13px 24px;
        font-size: 15px;
    }
    .contact-cont {
        border-radius: 18px;
    }
    .maps iframe {
        border-radius: 0 18px 18px 0;
    }
    .map-box-info {
        gap: 12px;
        border: 1.5px solid rgba(241, 245, 246, 1);
        max-width: 284px;
        border-radius: 3px;
        padding: 18px;
        bottom: 30px;
        left: 30px;
    }
    .map-contact p {
        font-size: 15px;
    }
    .map-contact {
        gap: 6px;
    }
    .map-contact span {
        font-size: 15px;
        line-height: 110%;
    }
    .map-contact a {
        font-size: 15px;
    }
    .contact-main:before {
        top: 187px;
        height: 483px;
    }
    footer {
        padding-top: 75px;
        padding-bottom: 24px;
    }
    .site-made {
        margin-top: 72px;
        padding-top: 24px;
    }
    .footer-main h4 {
        font-size: 15px;
        margin-bottom: 18px;
    }

    .footer-number a, .footer-number span {
        font-size: 15px;
    }
    .footer-number {
        gap: 9px;
    }
    .our-social span {
        font-size: 15px;
    }
    .footer-menu a {
        font-size: 15px;
    }
    .footer-menu ul {
        gap: 9px;
    }
    .footer-menu-large {
        max-width: 284px;
    }
    .scroll-up {
        max-width: 45px;
        height: 45px;
    }
    .our-social {
        margin-top: 30px;
    }
    .logo-footer {
        max-width: 147px;
    }
    .footer-flex {
        max-width: 940px;
    }
    .site-made a {
        font-size: 15px;
    }
    .reliable-text {
        min-height: 57px;
    }
    .reliable-flex {
        margin-top: 18px;
    }
}


@media (max-width: 1299px){
    .dream-services-name {
        padding: 24px;
    }
    .live-dream-title {
        max-width: 342px;
    }
    .countries-photos {
        padding: 24px;
    }
    .live-residency {
        padding: 24px;
    }
    h2 {
        font-size: 34px;
    }


    .services-active {
        padding-left: 33px;
    }
    .services-main {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .services-info {
        padding: 24px 24px 10px;
        gap: 22px;
    }
    .services-text {
        gap: 6px;
    }
    .reliable-partner h2 {
        max-width: 427px;
        font-size: 36px;
    }
    .concept-dual-text p {
        max-width: 420px;
    }
    .concept-dual-text {
        max-width: 605px;
    }
    .blog-boxes {
        height: 390px;
    }
    .blog-boxes-title h3 {
        max-width: 324px;
    }
    .blog-boxes-title h3 {
        font-size: 16px;
    }
    .blog-boxes-title span {
        font-size: 12px;
    }

    .blog-slider .swiper-slide {
        width: 309px;
    }

    .blog-slider .swiper-slide-active {
        width: 520px;
    }
    .blog-rel {
        margin-top: 32px;
    }
    .contact-main {
        margin-top: 100px;
    }
    .footer-flex {
        max-width: 784px;
    }

}


@media (max-width: 1199px){
    .live-dream {
        padding: 70px 0 24px;
    }
    .live-dream-flex {
        gap: 94px;
        flex-direction: column;
        align-items: center;
    }
    .live-dream-cnt {
        max-width: 100%;
        gap: 6px;
    }

    h1 {
        text-align: center;
    }
    .live-dream-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .live-dream-title p {
        max-width: 328px;
        text-align: center;
    }
    .btn, .btn-white {
        padding: 17px 30px;
    }
    .live-residency {
        max-width: 630px;
        height: 568px;
    }
    .live-dream-col {
        max-width: 320px;
    }
    .countries-photos {
        height: 280px;
    }
    .dream-services {
        height: 282px;
    }
    .countries-href {
        width: 165px;
    }
    .countries-work{
        display: none;
    }
    .services-main:before {
        height: 472px;
    }
    .services-info {
        gap: 40px;
    }
    .reliable-partner {
        margin-top: 80px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .reliable-partner h2 {
        max-width: 827px;
        font-size: 40px;
    }
    .reliable-partner-rel {
        max-width: 920px;
        margin: 0 auto;
    }

    .reliable-name h4 {
        font-size: 16px;
    }
    .concept-dual-flex {
        margin-top: 24px;
        flex-direction: column;
    }
    .concept-col {
        max-width: 100%;
    }
    .concept-info {
        gap: 24px;
        flex-direction: row;
        height: 100%;
        align-items: flex-start;
        padding-right: 0;
    }
    .concept-box {
        align-items: flex-start;
    }
    .concept-info h3{
        width: 144px;
    }
    .concept-info p{
        max-width: 454px;
        width: 100%;
    }
    .map-box {
        max-width: 100%;
        height: 585px;
    }
    .contact-cont {
        flex-direction: column;
        align-items: center;
    }


    .footer-flex {
        max-width: 100%;
        position: relative;
    }
    .footer-flex:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 39px;
        height: 1px;
        background: rgba(197, 206, 220, 0.3);
    }
    .logo-footer {
        max-width: 155px;
    }
    .footer-main {
        gap: 56px;
        flex-direction: column;
        position: relative;
    }
    .scroll-up {
        position: absolute;
        right: 0;
        top: 0;
    }

    .footer-main h4 {
        font-size: 14px;
        margin-bottom: 45px;
    }

    .footer-contact {
        order: 3;
        max-width: 230px;
        width: 100%;
    }
    .footer-menu-large {
        max-width: 234px;
    }
    footer .messenger-social {
        justify-content: flex-start;
    }
    .site-made {
        margin-top: 92px;
    }
    h2 {
        font-size: 36px;
    }
    .contact-main:before {
        top: 280px;
        height: 100%;
    }

}
@media (max-width: 1020px){
    .live-dream-col {
        max-width: 267px;
    }
    .dream-services-name h2 {
        max-width: 138px;
        font-size: 30px;
    }
    .dream-services {
        height: 229px;
    }
    .countries-photos {
        height: 228px;
    }
    .countries-name h2 {
        width: 120px;
        font-size: 30px;
    }
    .countries-href {
        width: 128px;
        height: 34px;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 34px;
        height: 34px;
        border-radius: 4px;
    }
    .live-residency h2 {
        max-width: 200px;
        font-size: 30px;
    }
    .live-residency {
        max-width: 504px;
        height: 462px;
    }
    .live-residency .btn-white{
        display: none;
    }

    .btn-arrow {
        width: 27px;
        height: 27px;
        border-radius: 5px;
        padding: 7px;
    }
    .btn-arrow:after {
        width: 5px;
        height: 5px;
        top: 10px;
        left: 9px;
    }
    .services-mobile-selected {
        background: #fff;
        padding: 23px 18px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: rgba(21, 50, 118, 1);
        position: relative;
        transition: 0.3s;
    }
    .services-mobile-selected:after {
        content: "";
        position: absolute;
        top: 23px;
        right: 24px;
        border-top: 2px solid rgba(21, 50, 118, 1);
        border-right: 2px solid rgba(21, 50, 118, 1);
        width: 7px;
        height: 7px;
        transform: rotate(135deg);
        transition: 0.3s;
    }
    .services-mobile-active .services-mobile-selected:after{
        transform: rotate(-45deg);
        top: 28px;

    }
    .services-cnt {
        margin-top: 55px;
        gap: 8px;
        border-radius: 0;
        padding: 0;
        flex-direction: column;
        background: unset;
    }
    .services-menu {
        border-radius: 12px;
        max-width: 318px;
        padding: 6px;
        background: unset;
    }
    .services-items {
        max-width: 100%;
        background: rgba(255, 255, 255, 1);
        border-radius: 18px;
        gap: 8px;
        padding: 30px;
        box-shadow: 0px 9px 9px 0px rgba(60, 87, 150, 0.05);
    }
    .services-info {
        gap: 24px;
        padding: 0;
    }
    .services-menu {
        border-radius: 0;
        max-width: 100%;
        padding: 0;
        background: unset;
    }
    .services-mobile-list {
        display: none;
        position: absolute;
        width: 100%;
        background: #f1f5f6;
        border-radius: 8px;
        margin-top: 8px;
        padding: 8px;
        z-index: 555;
    }
    .services-mobile-active .services-mobile-list{
        display: flex;
        flex-direction: column;
    }
    .services-included {
        margin-top: 0;
    }
    .services-included {
        margin-bottom: 50px;
    }
    .reliable-partner h2 {
        max-width: 662px;
        font-size: 42px;
    }

    .reliable-partner-rel .partner-button-prev {
        left: 16px;
    }
    .reliable-partner-rel .partner-button-next {
        right: 16px;
    }
    .reliable-box-photo img {
        height: 204px;
    }
    .reliable-name {
        padding: 18px 12px 14px;
    }

    .concept-dual-text {
        max-width: 417px;
        flex-direction: column;
    }
    .blog-rel {
        margin-top: 21px;
    }

    .blog-slider .swiper-slide {
        width: 239px;
    }
    .blog-slider .swiper-slide-active {
        width: 477px;
    }
    .swiper-slide-active .blog-boxes-title h3 {
        font-size: 24px;
    }
    .blog-boxes-title h3 {
        max-width: 260px;
    }
    .blog-boxes-title h3 {
        font-size: 14px;
    }
    .blog-boxes {
        height: 318px;
        gap: 9px;
        border-radius: 9px;
        padding: 9px;
    }
    .blog-boxes-title {
        padding: 9px 9px 0;
        gap: 7px;
    }
    .blog-boxes img {
        height: 168px;
    }
    .contact-main {
        margin-top: 80px;
    }
    .messenger-social a i {
        width: 20px;
    }
    .our-social span{
        display: none;
    }
    .our-social {
        margin-top: 24px;
    }
    .site-made {
        padding-top: 16px;
    }
    footer {
        padding-top: 58px;
        padding-bottom: 16px;
    }


}


@media (max-width: 767px){
    .live-dream {
        padding: 48px 0 24px;
    }
    h1 {
        font-size: 44px;
    }

    p {
        font-size: 12px;
    }
    .live-dream-title .btn {
        margin-top: 18px;
        max-width: 380px;
        width: 100%;
    }
    .live-dream-cnt {
        gap: 8px;
        flex-direction: column;
    }
    .live-dream-flex {
        gap: 48px;
    }
    .live-residency {
        max-width: 100%;
        height: 410px;
    }
    .live-residency {
        padding: 20px;
        border-radius: 8px;
    }
    .live-dream-col {
        max-width: 100%;
        flex-direction: row;
    }
    .countries-box {
        position: relative;
        width: 50%;
    }
    .reliable-partner h2 {
        max-width: 463px;
        font-size: 32px;
        padding-right: 24px;
    }
    .reliable-partner {
        margin-right: -24px;
    }
    .reliable-partner-rel .partner-button-prev, .reliable-partner-rel .partner-button-next {
        width: 40px;
        height: 40px;
        padding: 7px;
    }
    .reliable-partner-rel .partner-button-prev {
        left: -12px;
    }
    .reliable-partner-rel .partner-button-next {
        right: 10px;
    }
    .reliable-box-photo img {
        height: 168px;
    }
    .reliable-box {
        min-height: 302px;
    }
    .reliable-name h4 {
        font-size: 14px;
    }


    .concept-dual-title {
        gap: 24px;
        flex-direction: column;
    }
    .concept-dual-title .btn{
        display: none;
    }
    .concept-dual-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }
    .concept-dual-mobile .btn {
        width: 100%;
    }
    .concept-info {
        gap: 12px;
        padding-right: 0;
        flex-direction: column;
    }
    .concept-box {
        padding: 8px;
    }
    .blog-title .btn-sliver{
        display: none;
    }
    .swiper-slide-active .blog-boxes-title h3 {
        font-size: 16px;
    }
    .blog-boxes {
        height: 308px;
        border-radius: 8px;
        padding: 4px;
    }
    .blog-slider .swiper-slide-active {
        width: 220px;
    }
    .blog-btn-mobile{
        display: flex;
        margin-top: 24px;
    }
    .blog-btn-mobile .btn{
        width: 100%;
    }
    .contact-form {
        padding: 50px 24px;
        background: rgba(255, 255, 255, 1);
        border: 1.5px solid rgba(241, 245, 246, 1);
        box-shadow: 0.75px 3.75px 3.75px 0px rgba(41, 69, 80, 0.03);
        border-radius: 8px;

    }
    .services-cnt {
        margin-top: 32px;
    }
    .services-title .btn-white{
        display: none;
    }
    .services-btb-mob{
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
    .services-btb-mob .btn-white{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .services-items {
        border-radius: 8px;
        padding: 24px;
        box-shadow: unset;
    }
    .map-menu {
        max-width: calc(100% - 16px);
        top: 8px;
        left: 8px;
        padding: 0;
        border: unset;
    }

    .map-menu-select {
        background: #fff;
        padding: 15px 18px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: rgba(21, 50, 118, 1);
        position: relative;
        transition: 0.3s;
        height: 54px;
    }
    .map-menu-select:after {
        content: "";
        position: absolute;
        top: 23px;
        right: 24px;
        border-top: 2px solid rgba(21, 50, 118, 1);
        border-right: 2px solid rgba(21, 50, 118, 1);
        width: 7px;
        height: 7px;
        transform: rotate(135deg);
        transition: 0.3s;
    }
    .map-select-active .map-menu-select:after{
        transform: rotate(-45deg);
        top: 28px;
    }

    .contact-cont {
        border: unset;
        background: unset;
        box-shadow: unset;
        border-radius: unset;
        position: relative;
        z-index: 2;
    }
    .map-menu ul {
        display: none;
        position: absolute;
        width: 100%;
        background: #f1f5f6;
        border-radius: 8px;
        margin-top: 8px;
        padding: 8px;
        z-index: 555;
    }
    .map-select-active ul{
        display: flex;
        flex-direction: column;
    }
    .map-box {
        margin-top: 8px;
    }
    .maps iframe {
        border-radius: 8px;
    }
    .map-menu ul li {
        padding: 12px 20px;
        width: 100%;
    }
    .map-box-info {
        max-width: 300px;
        bottom: 8px;
        left: 8px;
    }
    .footer-flex:before{
        display: none;
    }
    .footer-flex {
        max-width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .footer-main h4 {
        font-size: 12px;
        margin-bottom: 24px;
    }
    .footer-menu{
        width: 100%;
        padding-top: 24px;
        border-top: 1px solid rgba(197, 206, 220, 0.3);
    }
    .footer-menu a {
        font-size: 12px;
    }
    .footer-menu-large{
        margin-top: 24px;
        max-width: 100%;
    }
    .footer-contact{
        padding-top: 24px;
        border-top: 1px solid rgba(197, 206, 220, 0.3);
        margin-top: 24px;
        max-width: 100%;
    }
    .site-made {
        margin-top: 80px;
    }
    .site-made a {
        font-size: 12px;
    }
}


@media (max-width: 570px){
    .live-residency {
        max-width: 100%;
        height: 338px;
    }
    .live-residency h2 {
        max-width: 183px;
        font-size: 28px;
    }
    .live-dream-col {
        flex-direction: column;
    }
    .countries-box {
        width: 100%;
    }
    .dream-services img {
        height: 84%;
        width: 100%;
        object-fit: cover;
    }
    .dream-services {
        border-radius: 8px;
    }
    .dream-services-name h2 {
        max-width: 110px;
        font-size: 28px;
    }
    .dream-services-name {
        padding: 20px 20px 0;
    }
    .countries-photos {
        height: 236px;
        padding: 20px;
        border-radius: 8px;
    }
    .countries-href {
        width: 100%;
    }
    .countries-relative{
        width: 100%;
    }
    .countries-slider .swiper-button-next, .countries-slider .swiper-button-prev {
        max-width: 34px;
        height: 34px;
        border-radius: 4px;
        width: 100%;
    }
    .countries-flex {
        gap: 4px;
        border-radius: 6px;
        padding: 5px;
    }
    h2 {
        font-size: 28px;
    }
    .services-mobile-selected {
        padding: 20px 18px;
    }
    .services-included ul li {
        font-size: 12px;
    }
    .services-included {
        margin-bottom: 40px;
        margin-top: 15px;
    }
    .btn, .btn-white {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .reliable-box-photo img {
        height: 144px;
    }
    .reliable-name h4 {
        font-size: 12px;
    }
    .reliable-box {
        min-height: 276px;
        border-radius: 8px;
        padding: 4px;
    }
    .reliable-name {
        padding: 12px 8px 8px;
    }
    .reliable-text {
        min-height: 49px;
    }
    .social-link {
        width: 34px;
        height: 34px;
        border-radius: 4px;
        padding: 8px;
        box-shadow: unset;
    }
    .social-link i {
        width: 18px;
    }
    .reliable-partner h2 {
        max-width: 321px;
        font-size: 28px;
    }
    h3 {
        font-size: 16px;
    }
    .concept-info p {
        line-height: 108%;
    }
    .concept-box {
        gap: 18px;
    }
    .concept-icon {
        max-width: 74px;
        height: 111px;
        padding: 18px;
    }
    .concept-box {
        align-items: center;
    }
    .concept-photo img {
        border-radius: 8px;
    }
    .blog-rel .swiper-button-prev{
        left: 0;
    }
    .blog-rel .swiper-button-next{
        right: 0;
    }
    .contact-input input {
        height: 51px;
        padding: 12px 18px;
        font-size: 12px;
    }
    .map-menu-select:after {
        top: 21px;
        right: 21px;
    }
    p, span, a, input, ul li, small {
        font-size: 12px;
    }
}