
.banner-global:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 50, 118, 1);
    height: 515px;
}
.banner-header-style{
    gap: 40px;
    position: relative;
    z-index: 1;
    padding: 80px 0 109px;

}

.banner-header-style h1{
    font-size: 72px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.bread-caps ul{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.bread-caps ul li{
    color: #ffffff;
}
.bread-caps ul a{
    color: rgba(255, 255, 255, 0.2);
}

.services-page-main{
    background: rgba(255, 255, 255, 1);
    border-radius: 40px 40px 0 0;
    padding: 100px 0;
    z-index: 5;
    position: relative;
}
.services-page-col{
    gap: 8px;
}
.services-page-box{
    width: 100%;
    background: rgba(241, 245, 246, 1);
    border-radius: 24px;
    padding: 8px;
    gap: 32px;
}
.services-page-name{
    padding: 24px 0 24px 24px;
    max-width: 1112px;
    width: 100%;
}
.services-page-name h3{
    max-width: 290px;
    width: 100%;
    font-size: 24px;
}

.services-page-text{
    max-width: 712px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.more-info {
    border-bottom: 1px solid  rgba(21, 50, 118, 1);
    width: max-content;
}
.services-page-photo{
    max-width: 470px;
    width: 100%;
}
.services-page-photo img{
    width: 100%;
    border-radius: 16px;
}








.download-doc{
    gap: 24px;
}

.download-boxes{
    width: calc(25% - 18px);
    background: rgba(241, 245, 246, 1);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 24px 35px;
    justify-content: space-between;
    gap: 49px;
}
.download-boxes p{
    text-align: center;
}
.download-boxes-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 230px;
    width: 100%;
}


.contact-details{
    gap: 24px;
}
.details-tap{
    max-width: 999px;
    width: 100%;
}
.details-tap ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.details-tap ul li{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 1px solid rgba(21, 50, 118, 0.2);
    padding-bottom: 24px;
}


.details-tap ul li span{
    max-width: 567px;
    width: 100%;
}





/*=============-services-object-============*/








.real-estate-page{
    overflow: hidden;
}
.real-estate-mob{
    display: none;
}
.real-estate-flex{
    gap: 50px;
}
.real-estate-info {
    max-width: 738px;
    width: 100%;
}
.real-estate-info h2{
    margin-top: 24px;
    font-size: 64px;
}

.real-estate-info p{
    margin-top: 40px;
}
.real-estate-info .bread-caps li{
    color: rgba(21, 50, 118, 1);
}
.real-estate-info .bread-caps li a{
    color: rgba(21, 50, 118, 0.2);
}

.real-estate-but{
    gap: 8px;
    margin-top: 48px;
}

.real-estate-table{
    max-width: 860px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.real-estate-line{
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(21, 50, 118, 0.1);
    display: flex;
    align-items: flex-start;
}

.real-estate-line:last-child{
    padding-bottom: 0;
    border-bottom: unset;
}


.real-estate-line p{
    width: 50%;
    color: rgba(21, 50, 118, 0.3);
}
.real-estate-line strong{
    font-size: 48px;
    font-family: 'Oswald';

}

.real-estate-cnt{
    margin-top: 120px;
    width: 100%;
    position: relative;
}
.real-estate-slider{
    width: 100%;
    margin-bottom: 8px;
    overflow: unset;
}
.real-estate-slider img{
    width: 100%;
    border-radius: 24px;
}
.real-estate-sm-slider{
    width: 436px;
    margin: 0;
}
.estate-sm-photo{
    border-radius: 8px;
    width: 100%;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
.estate-sm-photo:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: 0.3s;
    background: #ffffff;
    opacity: 0.40;
}
.swiper-slide-thumb-active .estate-sm-photo:before{
    opacity: 0;
}
.estate-sm-photo img{
    width: 100%;
    border-radius: 8px;
}
.real-estate-arrow{
    position: relative;
    gap: 8px;
    height: 64px;
}
.real-estate-arrow .swiper-button-prev, .real-estate-arrow .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 64px;
    height: 64px;
    margin: 0;
}
.estate-next.swiper-button-disabled, .estate-prev.swiper-button-disabled {
    opacity: 1;
}
.estate-prev .icon-arrow-left,
.estate-next .icon-arrow-right{
    width: 24px;
}

.real-estate-arrow .swiper-pagination{
    border: 2px solid rgba(241, 245, 246, 1);
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 5px 5px 0px rgba(41, 69, 80, 0.03);
    width: 91px;
    height: 64px;
    border-radius: 8px;
    position: relative;
    bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: rgba(21, 50, 118, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.real-estate-arrow .swiper-pagination span{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}



.real-estate-cnt h2{
    text-align: center;
    margin-bottom: 40px;
}


.services-gallery-arrow .real-estate-sm-slider {
    width: 520px;
    margin: 0;
    background: rgba(255, 255, 255, 1);
    padding: 8px;
    border-radius: 8px;
}

.services-gallery-arrow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 48px;
}



@media (max-width: 1599px){
    .services-page-name h3 {
        max-width: 210px;
        font-size: 18px;
    }
    .banner-header-style {
        gap: 30px;
        padding: 57px 0 75px;
    }
    .services-page-main {
        border-radius: 30px;
        padding: 75px 0;
    }
    .services-page-name {
        padding: 16px 0 16px 16px;
    }
    .services-page-photo {
        max-width: 353px;
    }
    .download-doc {
        gap: 18px;
    }
    .download-boxes {
        width: calc(25% - 14px);
        border-radius: 24px;
        padding: 68px 24px 29px;
        gap: 40px;
    }
    .download-boxes-icon img{
        width: 105px;
    }
    .download-boxes .btn{
        border-radius: 16px;
    }
    .download-boxes p {
        font-size: 15px;
    }
    .contact-details h2 {
        font-size: 32px;
    }
    .details-tap {
        max-width: 745px;
    }
    .details-tap ul li span {
        max-width: 426px;
    }
    .details-tap ul {
        gap: 18px;
    }
    .details-tap ul li {
        padding-bottom: 18px;
    }
    .banner-header-style h1 {
        font-size: 54px;
    }



    .real-estate-arrow{
        gap: 6px;
    }
    .real-estate-arrow .swiper-pagination {
        width: 71px;
        height: 48px;
        border-radius: 6px;
        font-size: 15px;
    }


    .real-estate-arrow .swiper-pagination span{
        font-size: 15px;
    }



    .real-estate-info h2 {
        margin-top: 18px;
        font-size: 48px;
    }

    .real-estate-info {
        max-width: 545px;
    }
    .real-estate-table {
        max-width: 645px;
        gap: 18px;
    }
    .real-estate-line {
        padding-bottom: 18px;
    }
    .real-estate-cnt {
        margin-top: 90px;
    }
    .real-estate-sm-slider {
        width: 326px;
    }
    .real-estate-arrow .swiper-button-prev, .real-estate-arrow .swiper-button-next {
        width: 48px;
        height: 48px;
    }
    .real-estate-line strong {
        font-size: 36px;
    }
    .real-estate-slider img {
        border-radius: 18px;
    }
    .real-estate-but{
        gap: 6px;
        margin-top: 24px;
    }
    .services-gallery-arrow {
        padding: 24px;
    }
    .services-gallery-arrow .real-estate-sm-slider {
        width: 381px;
        padding: 5px;
        border-radius: 6px;
    }
    .real-estate-cnt h2 {
        margin-bottom: 24px;
    }
}
@media (max-width: 1199px){
    .services-page-main {
        padding: 40px 0;
    }
    .services-page-col {
        gap: 8px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .banner-header-style h1 {
        font-size: 60px;
    }
    .download-boxes {
        width: calc(33.333333% - 14px);
        padding: 71px 24px 30px;
        gap: 39px;
    }
    .download-boxes .btn {
        border-radius: 12px;
    }
    .real-estate-info p {
        margin-top: 30px;
    }
    .estate-sm-photo img {
        border-radius: 6px;
    }


    .services-gallery-arrow {
        padding: 10px;
    }
    .services-gallery-arrow .real-estate-sm-slider {
        width: 338px;
    }
    .services-gallery-arrow {
        padding: 0;
        position: relative;
        background: unset;
        border-radius: 0;

    }
}
@media (max-width: 1020px){
    .services-page-box {
        border-radius: 16px;
        padding: 8px;
        gap: 8px;
        flex-direction: column-reverse;
    }
    .services-page-photo {
        max-width: 100%;
    }

    .services-page-photo img {
        border-radius: 8px;
        height: 404px;
        object-fit: cover;
        object-position: center;
    }
    .services-page-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 56px;
    }
    .services-page-name {
        padding: 24px;
        flex-direction: column;
        gap: 16px;
    }
    .services-page-name h3 {
        max-width: 100%;
        font-size: 28px;
    }

    .services-page-text p{
        font-size: 15px;
    }
    .banner-header-style {
        gap: 16px;
        padding: 80px 0 80px;
    }


    .download-doc {
        gap: 8px;
    }

    .download-boxes {
        width: calc(50% - 4px);
        padding: 81px 24px 30px;
        gap: 39px;
        min-height: 382px;
    }

    .contact-details {
        gap: 40px;
        flex-direction: column;
    }
    .contact-details h2 {
        font-size: 36px;
    }

    .details-tap ul li  p {
        font-size: 15px;
    }
    .details-tap ul li span {
        max-width: 370px;
    }








    .real-estate-slider img {
        border-radius: 12px;
    }

    .real-estate-flex {
        flex-direction: column;
    }

    .real-estate-info {
        max-width: 657px;
    }
    .real-estate-table {
        max-width: 100%;
        gap: 18px;
    }
    .real-estate-arrow{
        display: none;
    }

    .real-estate-cnt {
        margin-top: 80px;
    }

    .real-estate-info p {
        margin-top: 16px;
    }
    .real-estate-pic{
        height: 466px;
        width: 100%;

    }
    .real-estate-mob {
        display: block;
        object-fit: cover;
    }
    .real-estate-desc{
        display: none;
    }
    .bread-caps ul {
        flex-wrap: wrap;
    }
    .real-estate-info h2 {
        margin-top: 30px;
        font-size: 28px;
    }

    .real-estate-line strong {
        font-size: 18px;
    }

}
@media (max-width: 767px){
    .banner-header-style h1 {
        font-size: 44px;
    }
    .services-page-main {
        padding: 32px 0;
    }
    .services-page-photo img {
        height: 354px;
    }
    .services-page-photo img {
        height: 181px;
    }
    .services-page-name {
        padding: 16px;
        flex-direction: column;
    }
    .services-page-name h3 {
        font-size: 18px;
    }
    .services-page-text p {
        font-size: 12px;
    }

    .real-estate-sm-slider {
        width: 221px;
    }

}
@media (max-width: 575px){

    .download-boxes {
        width: 100%;
        padding: 77px 16px 16px;
        gap: 39px;
        min-height: 367px;
    }
    .details-tap ul li span {
        max-width: 152px;
    }

    .details-tap ul li p {
        font-size: 12px;
    }
    .real-estate-but{
        flex-direction: column;
    }
    .real-gall-slider img{
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        height: 253px;
    }
}