.banner-head p{
    color: #ffffff;
    text-align: center;
    max-width: 648px;
    width: 100%;
}

.serv-estate-min{
    background: rgba(255, 255, 255, 1);
    border-radius: 40px 40px 24px 24px;
    padding: 40px;
    position: relative;
    z-index: 3;
}














.realty-filter {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;

}

.filter-item {
    position: relative;
    width: 100%;
    max-width: 296px;
}

.filter-label {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(21, 50, 118, 0.3);
}

.filter-control,
.price-box {
    width: 100%;
    min-height: 80px;
    background: rgba(241, 245, 246, 1);
    border-radius: 16px;
}

.filter-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 24px;
    cursor: pointer;
    color: rgba(21, 50, 118, 0.3);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    transition: border-color 0.2s ease, background 0.2s ease;
}
.filter-control span{
    font-size: 16px;
    color: rgba(21, 50, 118, 0.3);

}


.filter-control svg {
    flex: 0 0 auto;
    color: rgba(37, 45, 82, 1);
    transition: transform 0.2s ease;
    width: 20px;
    height: 20px;
}

.filter-item.open .filter-control svg {
    transform: rotate(180deg);
}

.filter-dropdown {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    background: rgba(241, 245, 246, 1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: 0.2s ease;
}

.filter-item.open .filter-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.filter-option {
    padding: 18px 28px;
    font-size: 20px;
    line-height: 100%;
    color: rgba(21, 50, 118, 1);
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
    border-bottom: 1px solid rgba(215, 222, 231, 1);
}
.filter-option:last-child{
    border: unset;
}
.filter-option:hover,
.filter-option.active {

}

.filter-item--price .price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9px 14px 8px;
    position: relative;
}

.price-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.price-muted {
    color: rgba(21, 50, 118, 0.3);
}

.price-value {
    color: rgba(37, 45, 82, 1);
    white-space: nowrap;
}

.price-range {
    width: 93%;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    left: 7px;
}

.price-range::-webkit-slider-runnable-track {
    height: 4px;
    background: #213f73;
    border-radius: 999px;
}

.price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    margin-top: -4px;
    border: 0;
    border-radius: 50%;
    background: rgba(21, 50, 118, 1);
}

.price-range::-moz-range-track {
    height: 4px;
    background: rgba(21, 50, 118, 1);
    border-radius: 999px;
}

.price-range::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    background: rgba(21, 50, 118, 1);

}


.filter-item-check{
    max-width: 151px;
    width: 100%;
}
.realty-filter .btn{
    max-width: 263px;
    width: 100%;
    height: 80px;
}
.filter-item-check .checkbox-lab {
    padding-left: 0;
    margin-top: 8px;
    gap: 16px;
}

.popular-countries{
    margin-top: 40px;
}
.popular-countries-titile .more-info{
    font-size: 16px;
}
.popular-countries .whole-country-names ul li {
    width: 15%;
}

.popular-count-wrap{
    margin: 40px 0 48px;
    gap: 8px;
}
.popular-count-box{
    width: calc(33.333333% - 6px);
    box-shadow: 0px 14px 14px 0px rgba(11, 31, 75, 0.1);
    background: rgba(255, 255, 255, 1);
    padding: 8px;
    border-radius: 24px;

}
.popular-count-slider{
    width: 100%;
}
.popular-count-photo{
    position: relative;
}
.popu-yarlik{
    position: absolute;
    top: 21px;
    left: 0;
    backdrop-filter: blur(48.900001525878906px);
    background: rgba(255, 255, 255, 1);
    border-radius: 0 16px 16px 0;
    padding: 10px 16px 10px 12px;
    color: rgba(232, 0, 74, 1);
}


.popular-count-new{
    padding: 40px 32px;
}